html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.fontStyle {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.fontSize {
    font-size: 13px;
}

#bodyStyle {
    background-color: rgb(192, 196, 195);
}

.divStyle {
    background-color: rgb(208, 199, 188);
}

#header1 {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

li, a {
    padding: 5px;
    color: chocolate;
}

.center {
    margin-left: 280px;
}

